<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>THE PLANETS</span>
  <div id="toolbar-opc">
    <span (click)="onChangePlanet('mercury')">MERCURY</span>
    <span (click)="onChangePlanet('venus')">VENUS</span>
    <span (click)="onChangePlanet('earth')">EARTH</span>
    <span (click)="onChangePlanet('mars')">MARS</span>
    <span (click)="onChangePlanet('jupiter')">JUPITER</span>
    <span (click)="onChangePlanet('saturn')">SATURN</span>
    <span (click)="onChangePlanet('uranus')">URANUS</span>
    <span (click)="onChangePlanet('neptune')">NEPTUNE</span>
  </div>
</div>

<div class="content" role="main">
  <div class="body-word">
    <img
      src={{selecionado.img}}
      alt=""
    />
    <div id="info">
      <h1>{{selecionado.id.toUpperCase()}}</h1>
      <p>
        {{selecionado.about}}
      </p>
      <span
        >Source
        <a
          href="https://www.amnh.org/explore/ology/earth/what-is-earth"
          target="_blank"
          rel="noopener noreferrer"
        ></a
      ></span>
    </div>
  </div>
  <div id="informacoes">
    <div class="info">
      <p id="titulo">ROTAION TIME</p>
      <p id="valor">{{selecionado.rotation.toFixed(2)}} DAYS</p>
    </div>
    <div class="info">
      <p id="titulo">EVOLUTION TIME</p>
      <p id="valor">{{selecionado.evolution}}</p>
    </div>
    <div class="info">
      <p id="titulo">RADIUS</p>
      <p id="valor">{{selecionado.radius}} KM</p>
    </div>
    <div class="info">
      <p id="titulo">AVERAGE TEMP</p>
      <p id="valor">{{selecionado.temp}} °C</p>
    </div>
  </div>
  <div></div>
</div>

<router-outlet></router-outlet>
